:root {
    --primary: #eed6d3;
    --secundary: #fffff0;
    --background: #fffff0;
    --black-text: rgb(61, 61, 61);
    --white-text: #5e2c2c;
    --button-hover: #f4c2c2;
}

* {
    box-sizing: border-box;
    list-style: none;
}
/* CON ESTA ETIQUETA HACEMOS EL CAMBIO QUE EL SCROLL SEA MAS SUAVE PERO NO ES SOPORTAR POR 
INTERNET EXPLORE O SAFARI  */
html {
    scroll-behavior: smooth;
}
/*Pequeños Reseteos*/
h1,
h3,
h4,
p {
    margin: 0px;
    padding: 10px;
}

body {
    background-color: #ffffff;
    color: #5e2c2c;
}

/*Cambiar el color de la letra de cierto elementos*/
.rojo {
    color: #5e2c2c;

}

/*Contenedor General*/
.seccion {
    margin-bottom: 30%;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
    width: 90%;
}

/*Parte del logo y del menú*/
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #b76e79;
    
}

.menu_item {
    padding: 0.5em;
    display: none;
}

/*Estilos de la parte principal #24303c */
main {
    background-color: #faf5f2;
    display: flex;
    flex-wrap: wrap;

}

main section {
    width: 100%;
}

section.images {
    display: flex;
    flex-wrap: wrap;
}

section.images img {
    height: 100px;
    width: 50%;
}

.comentarios {
    border: 2px solid #5e2c2c;
    border-top-right-radius: 10px;
}

.hidden {
    display: none;
}

/* CSS DE FORMULARIO */
.section_contacto{
    background-color: #ffffff ;
}
.form_registro {
    width: 600px;
    background-color: rgba(128, 0, 32);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'dune';
    color: #ffffff;
    box-shadow: 2px 2px 50px rgba(128, 0, 32);
}

.form_registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.datos {
    width: 90%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f4c2c2;
    font-family: 'dune';
    font-size: 18px;
    color: #ffffff;
}

.form_registro label {
    color: #ffffff;
    margin-bottom: 2px;
    line-height: 40px;
    display: block;
}

.form_registro .botones {
    width: 95%;
    background: #f4c2c2;
    border: none;
    padding: 12px;
    color: #ffffff;
    margin: 16px 0;
    font-size: 16px;
}

.text {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width:576px) {
    nav {
        display: flex;
    }

    ;

    .menu_item {
        display: inline-block;
    }

    .icon {
        display: none;
    }

    .novedades {
        display: flex;
    }

    .novedades>* {
        width: 25%;
    }

    section.main_text,
    section.images {
        width: 50%;
    }

    section.images img {
        width: 50%;
        height: 25%;
    }
}

/*CAMBIAR EL TAMANO DE LA IMG AQUI  */
@media screen and (min-width:992px) {
    .hidden {
        display: block;
    }

    section.images {
        order: 1;
    }

    section.main_text {
        order: 2;
    }

    section.images img {
        height: 45%;
        width: 45%;
    }
}

/*BARRA DE NAVEGACION */
nav {
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

header h1 {
    color: var(--white-text);
    font-size: 2rem;
    letter-spacing: 0.7rem;
}

nav ul {
    display: flex;
}

nav ul li {
    border-right: solid .1rem var(--black-text);
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    color: var(--white-text);
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
}

nav ul li:hover {
    background-color: var(--button-hover);
    transition: all 0.3s;
}

.drawer {
    color: var(--white-text);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 0.1rem var(--white-text);
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox {
    display: none;
}


@media(max-width:992px) {
    nav {
        justify-content: flex-start;
    }

    .drawer {
        display: block;
    }

    nav h1 {
        margin-left: 1rem;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: var(--background);
        top: 10vh;
        left: -100%;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    nav ul li {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        border-bottom: solid .1rem rgba(201, 196, 196, 0.4);
    }

    #ckbox:checked~.menu-box {
        left: 0;
    }

    .image {
        display: none;
    }

    footer {
        text-align: center;
    }

    .contenedor-galeria {
        width: 90%;
        /* Reduce el ancho del contenedor */
        margin: 20px auto;
    }

    .contenedor-galeria li {
        width: 120px;
        /* Reduce el ancho de las imágenes */
    }

    .contenedor-galeria ul li:hover {
        width: 400px;
        /* Ajusta el tamaño al hacer hover */
    }
}

@media(max-width:576px) {
    nav {
        justify-content: flex-start;
    }

    .drawer {
        display: block;
    }

    nav h1 {
        margin-left: 1rem;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: var(--background);
        top: 10vh;
        left: -100%;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    nav ul li {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        border-bottom: solid .1rem rgba(201, 196, 196, 0.4);
    }

    #ckbox:checked~.menu-box {
        left: 0;
    }

    .image {
        display: none;
    }

    footer {
        text-align: center;
    }
}